body {
  background-color: #e4e8ea;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight: 300;
  line-height: 1.5;
  color: #111;
  margin: 0;
  padding: 0;
}

/**************Header-Nav****************************************/
.site-header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  min-height: 56px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

#navH1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: #39ca74;
}

#navSpan {
  color: #ffffff;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #424242;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
}

a:hover {
  color: #F0c330;
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
}

.top {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.middle {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.bottom {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.hero {
  margin: 16px;
}

.animated {
  animation-duration: .5s
  animation-timing-function: ease-in-out;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeinUp {
  animation-name: fadeinUp;
}

.delay-one {
  animation-delay: 1s;
}
